@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@300&family=Zen+Kaku+Gothic+New&display=swap");
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

全ページ共通

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Zen Kaku Gothic New", YuGothic, "Yu Gothic medium", "Hiragino Sans", Meiryo, "sans-serif";
  font-size: 1.6rem;
  color: #333;
  letter-spacing: 2px;
  line-height: 1.8;
  background-color: #BCE2E8;
}
@media screen and (max-width: 520px) {
  body {
    font-size: 1.4rem;
  }
}

*:hover,
*::before,
*::after {
  transition: 0.2s;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

文字

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
p {
  margin: 20px 0;
  letter-spacing: 1px;
  text-align: justify;
}

a {
  color: inherit;
  text-underline-offset: 4px;
  text-decoration-thickness: 1px;
  -moz-text-decoration-line: 1px;
}

/*－－－－－－－－－－ 見出し －－－－－－－－－－*/
h1,
h2,
h3,
h4,
h5 {
  letter-spacing: 4px;
  font-weight: normal;
  text-transform: uppercase;
  word-break: break-all;
}

/*－－－－－－－－－－ 大見出し －－－－－－－－－－*/
.headingL {
  font-size: 2.4rem;
  color: #fff;
  background: linear-gradient(135deg, #a2d7dd 0%, #89c3eb 20%, white 100%);
  padding: 10px 10px;
  margin: 40px -10px 20px;
}
.headingL:first-of-type {
  margin: 0 -10px 20px;
}
@media screen and (min-width: 768px), print {
  .headingL {
    font-size: 3rem;
    padding: 10px 40px;
    margin: 40px -40px;
  }
  .headingL:first-of-type {
    margin: 0 -40px 40px;
  }
}

/*－－－－－－－－－－ 中見出し －－－－－－－－－－*/
.headingM {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px;
  margin: 40px 0 10px;
  font-size: 2rem;
  color: #6C9BD2;
}
.headingM::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
}
.headingM::after {
  position: absolute;
  bottom: -50px;
  left: -60px;
  content: "";
  width: 110px;
  height: 110px;
  border: 1px solid #BCE2E8;
  border-radius: 50%;
  z-index: -2;
}
@media screen and (min-width: 1025px), print {
  .headingM {
    font-size: 2.4rem;
    margin: 40px 0 20px;
  }
}

/*－－－－－－－－－－ 小見出し －－－－－－－－－－*/
.headingS {
  position: relative;
  padding-left: 24px;
  margin: 20px 0;
  font-size: 1.8rem;
}
.headingS::before {
  position: absolute;
  top: calc(50% - 4px);
  left: 0;
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  background: #BCE2E8;
  transform: rotate(45deg);
}
@media screen and (min-width: 1025px), print {
  .headingS {
    font-size: 2rem;
  }
}

/*－－－－－－－－－－ 最小見出し －－－－－－－－－－*/
.headingSS {
  position: relative;
  font-size: 1.6rem;
  margin: 20px 0;
}
@media screen and (min-width: 1025px), print {
  .headingSS {
    font-size: 1.8rem;
  }
}

/*－－－－－－－－－－ 文字装飾 －－－－－－－－－－*/
.right {
  text-align: right;
}

.center {
  text-align: center;
}

.marker {
  display: inline;
  background: linear-gradient(transparent 60%, #BCE2E8 60%);
}

.label {
  display: inline-block;
  margin: 20px 0;
  padding: 2px 10px;
  background-color: #89c3eb;
  color: #fff;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

アイコン等

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.la,
.las {
  font-size: 1.2em;
  color: #BCE2E8;
}

/* 矢印 */
.arrow {
  width: 20px;
  height: 20px;
  border: 2px solid #BCE2E8;
  border-bottom: 0;
  border-left: 0;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

入力フォーム、ボタン

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/* 入力フォーム */
input,
textarea {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 10px 20px 8px 20px;
  border: 1px solid #BCE2E8;
  margin: 10px 0;
}

/* ボタン */
.btn {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #6C9BD2;
  color: #fff;
  text-align: center;
  text-decoration: none;
  padding: 3px 10px;
  border: 1px solid #6C9BD2;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}
.btn:hover {
  cursor: pointer;
  background-color: #fff;
  color: inherit;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

リスト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.list,
.list-number {
  margin: 20px 0;
}

/* 青●リスト */
.list li {
  position: relative;
  margin-left: 16px;
}
.list li::before {
  position: absolute;
  top: calc(50% - 4px);
  left: -16px;
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  background-color: #BCE2E8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* 数字付きリスト */
.list-number {
  list-style-type: decimal-leading-zero;
  list-style-position: inside;
}
.list-number li {
  text-indent: -2.4rem;
  padding-left: 2.6rem;
}
.list-number li > :not(:first-child) {
  text-indent: 0;
}

/* 表リスト */
.gridlist {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
}
@media screen and (max-width: 520px) {
  .gridlist {
    grid-template-columns: 1fr;
  }
}
.gridlist .gridlist__label,
.gridlist .gridlist__text {
  padding: 6px 12px 4px;
}
.gridlist .gridlist__label {
  display: flex;
  align-items: center;
  background-color: #89c3eb;
  color: #fff;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

枠組み

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.box {
  position: relative;
  padding: 40px 20px;
  background: rgba(188, 226, 232, 0.2);
}
.box::after {
  position: absolute;
  top: 6px;
  left: 10px;
  content: "";
  display: block;
  width: calc(100% - 20px);
  height: calc(100% - 12px);
  border: 1px solid #BCE2E8;
  border-left: none;
  border-right: none;
  z-index: -1;
}
.box > :first-child {
  margin-top: 0;
}
.box > :last-child {
  margin-bottom: 0;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

SNSアイコンリスト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.snslist .snslist__item {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BCE2E8;
  border-radius: 50%;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}
.snslist .snslist__item .lab {
  margin: 6px 1px 3px 3px;
  font-size: 2rem;
}
.snslist .snslist__item a {
  color: #fff;
}
.snslist .snslist__item:hover.twitter {
  background-color: #1DA1F2;
}
.snslist .snslist__item:hover.instagram {
  background-color: #CF2E92;
}
.snslist .snslist__item:hover.facebook {
  background-color: #4267b2;
}
.snslist .snslist__item:hover.youtube {
  background-color: #DA1725;
}
@media screen and (max-width: 520px) {
  .snslist {
    justify-content: center;
  }
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

レイアウト

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
/*－－－－－－－－－－ 横並び －－－－－－－－－－*/
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  /* 表示サイズを変えたい場合は200pxの部分を変更 */
  gap: 20px;
  justify-content: center;
  align-items: center;
}

/*－－－－－－－－－－ 2カラム表示 －－－－－－－－－－*/
.--2column {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0 60px;
}
@media screen and (max-width: 768px) {
  .--2column {
    grid-template-columns: 1fr;
  }
}

/*－－－－－－－－－－ 左右反対 －－－－－－－－－－*/
.reverse {
  flex-direction: row-reverse;
}

/*－－－－－－－－－－ コンテンツ全体の横幅 －－－－－－－－－－*/
.mainwrapper {
  padding: 20px 10px;
  background-color: #fff;
  min-height: calc(100vh - (20vh + 18px));
  z-index: -1;
}
.mainwrapper * {
  z-index: 0;
}

/* タブレット */
@media screen and (min-width: 768px) {
  .mainwrapper {
    padding: 20px 40px;
  }
}
/* PC */
@media screen and (min-width: 1025px), print {
  .mainvisual,
  .mainwrapper,
  .globalnav,
  footer {
    width: 80vw;
    max-width: 1160px;
    margin: 0 auto;
  }
  .mainwrapper {
    min-height: calc(100vh - (30vh + 127px));
  }
}
/*－－－－－－－－－－ ヘッダー固定 －－－－－－－－－－*/
@media screen and (min-width: 1025px), print {
  header {
    position: sticky;
    top: -30vh;
    z-index: 99;
  }
}
/*－－－－－－－－－－ セクション －－－－－－－－－－*/
section:first-of-type {
  padding-top: 0;
}

section {
  padding: 30px 0;
}
section > :first-child {
  margin-top: 0;
}
section > :last-child {
  margin-bottom: 0;
}
section section:first-of-type {
  padding-top: 0;
}
section section:last-of-type {
  padding-bottom: 0;
}

/* PC */
@media screen and (min-width: 1025px), print {
  section {
    padding: 40px 0;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メニューボタン

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.hamburger {
  position: fixed;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 999;
}
.hamburger.colorchange {
  background-color: #BCE2E8;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.2s;
  -o-transition: 0.4s;
}
.hamburger .hamburger__line {
  position: relative;
  width: 25px;
  height: 2px;
  background-color: #fff;
}
.hamburger .hamburger__line::before, .hamburger .hamburger__line::after {
  position: absolute;
  content: "";
  display: block;
  width: 25px;
  height: 2px;
  background-color: #fff;
}
.hamburger .hamburger__line::before {
  top: -8px;
}
.hamburger .hamburger__line::after {
  bottom: -8px;
}

/*閉じる*/
.hamburger._active .hamburger__line {
  background: transparent;
}
.hamburger._active .hamburger__line::before {
  top: 0;
  transform: rotate(45deg);
}
.hamburger._active .hamburger__line::after {
  bottom: 0;
  transform: rotate(-45deg);
}

/* PCで非表示 */
@media screen and (min-width: 1025px), print {
  .hamburger {
    display: none;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メインビジュアル

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.mainvisual {
  height: 20vh;
}
.mainvisual .sitename {
  font-size: min(7vw, 4rem);
  margin: -9rem 10px 0;
  color: #fff;
}
.mainvisual .sitename a {
  text-decoration: none;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.2s;
  -o-transition: 0.4s;
}
.mainvisual .sitename a:hover {
  filter: blur(2px);
  -webkit-filter: blur(px);
}
.mainvisual .mainvisual__img {
  height: 100%;
}
.mainvisual .mainvisual__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* PC */
@media screen and (min-width: 768px), print {
  .mainvisual {
    height: 30vh;
  }
  .mainvisual .sitename {
    text-align: right;
    margin: -10rem 20px 0;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

メニュー

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.globalnav {
  z-index: 99;
}

.globalnav__main {
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 0;
}
.globalnav__main .globalnav__item {
  position: relative;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}
.globalnav__main .globalnav__item a {
  display: block;
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
  padding: 20px;
  background-color: #6C9BD2;
}
.globalnav__main .globalnav__item a:hover {
  background-color: #89c3eb;
}
.globalnav__main .globalnav__item._has-child:hover .globalnav__child {
  visibility: visible;
  opacity: 1;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -moz-transition: 0.2s;
  -o-transition: 0.4s;
}
.globalnav__main .globalnav__child {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}

/*  タブレット、スマホでの表示 */
@media screen and (max-width: 1024px) {
  .globalnav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6C9BD2;
    opacity: 0;
    transform: translateX(100%);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.2s;
  }
  .globalnav._active {
    opacity: 1;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -moz-transition: 0.2s;
    -o-transition: 0.4s;
  }
  .globalnav__main .globalnav__item a {
    color: #fff;
  }
  .globalnav__main .globalnav__item._has-child .globalnav__child {
    display: none;
    width: -moz-max-content;
    width: max-content;
    border-left: solid 1px #BCE2E8;
  }
  .globalnav__main .globalnav__item._has-child .globalnav__child.active {
    top: 0;
    left: 100%;
    visibility: visible;
    opacity: 1;
    display: block;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

サブメニュー

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.submenu {
  margin-bottom: 40px;
}

.submenu__main {
  justify-content: flex-end;
}

/* 親項目のスタイル */
.submenu__item {
  position: relative;
}
.submenu__item a {
  display: inline-block;
  padding: 8px 20px 8px;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -ms-transition: 0.2s;
  -moz-transition: 0.2s;
}

/* 親項目の矢印 */
.submenu__item._has-child::before {
  content: "";
  position: absolute;
  left: 0;
  top: 18px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #BCE2E8;
  border-right: 1px solid #BCE2E8;
  transform: rotate(135deg);
}

/* 子項目のスタイル */
.submenu__item._has-child .submenu__child {
  position: absolute;
  right: 0;
  min-width: 100%;
  z-index: 9;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
}
.submenu__item._has-child .submenu__child li a {
  display: block;
  color: #000;
  border-bottom: solid 1px #6C9BD2;
}
.submenu__item._has-child .submenu__child li a:hover, .submenu__item._has-child .submenu__child li a:active {
  background: rgba(188, 226, 232, 0.2);
}
.submenu__item._has-child .submenu__child li:last-child a {
  border-bottom: none;
}

/* 子項目の矢印 */
.submenu__child {
  position: relative;
}
.submenu__child ._has-child::before {
  content: "";
  position: absolute;
  left: 4px;
  top: 20px;
  width: 6px;
  height: 6px;
  border-top: 1px solid #BCE2E8;
  border-right: 1px solid #BCE2E8;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
@media screen and (min-width: 769px), print {
  .submenu__child ._has-child:hover::before {
    left: 10px;
  }
}

/* 親項目ホバー時に子項目を表示 */
.submenu__item._has-child:hover .submenu__child {
  background-color: #fff;
  visibility: visible;
  opacity: 1;
}

/* 孫項目のスタイル */
.submenu__item._has-child .submenu__child li._has-child .submenu__grandchild {
  position: absolute;
  top: 0;
  left: 100%;
  min-width: -moz-max-content;
  min-width: max-content;
  visibility: hidden;
  opacity: 0;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
}

/* 子項目ホバー時に表示 */
.submenu__item._has-child .submenu__child li._has-child:hover .submenu__grandchild {
  background-color: #fff;
  visibility: visible;
  opacity: 1;
}

/* スマホ、タブレット */
@media screen and (max-width: 768px) {
  .submenu__main {
    display: block;
  }
  /* 子、孫メニューの左に余白 */
  .submenu__main ._has-child ul {
    margin-left: 20px;
  }
  /* 親メニューのスタイル */
  .submenu__item a {
    text-align: left;
  }
  .submenu__item._has-child .submenu__child {
    width: auto;
  }
  /* 子項目の矢印 */
  .submenu__child ._has-child::before {
    content: "";
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
  }
  /* タップで表示 */
  .submenu__item._has-child .submenu__child,
  .submenu__item._has-child .submenu__child li._has-child .submenu__grandchild {
    position: relative;
    left: 0;
    top: 0;
    visibility: visible;
    /*JSで制御するため一旦表示*/
    opacity: 1;
    /*JSで制御するため一旦表示*/
    display: none;
    /*JSのslidetoggleで表示させるため非表示に*/
    transition: none;
    /*JSで制御するためCSSのアニメーションを切る*/
  }
  .submenu__item._has-child .submenu__child.active,
  .submenu__item._has-child .submenu__child li._has-child .submenu__grandchild.active {
    display: block;
  }
}
/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

ページUP

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
.pageup {
  position: fixed;
  right: 2vw;
  bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #6C9BD2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  opacity: 0;
}
.pageup .arrow {
  border-color: #fff;
  margin-top: 10px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
}
.pageup:hover {
  background-color: #fff;
}
.pageup:hover .arrow {
  border-color: #6C9BD2;
}

/*－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－

フッター

－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－－*/
footer {
  background-color: #fff;
}

.copyright {
  display: block;
  font-size: 1rem;
}

/* PC */
@media screen and (min-width: 1025px), print {
  footer {
    max-width: 1160px;
    margin: 0 auto;
    padding: 20px;
  }
}